.H3bioSetup.sh.swp 
.WinX_H3bioSetup.py.swp 
a.out 
.Rhistory 
Environment/rstudio-1.3.1073-amd64.deb
Environment/Plink_src/
Environment/R-4.0.2.pkg 
Environment/RStudio-1.3.1056.dmg 
Environment/plink_mac_20200616.zip 
Environment/plink_linux_x86_64_20200616.zip 
Environment/rstudio-1.3.1056-amd64.deb 
connectwork.py 
.gh3.py.swp 
guih3/.fileOps.py.*
mtdt_test/
guih3/__pycache__/
Gaui/node_modules/
Gaui/.*.sw*
Gaui/script/.*.sw*
Gaui/template/.*.sw*
Gaui/sample_results/
.DS_Store 
Gaui/.DS_Store 

Gaui/config.json
Gaui/assets/script/*.sw*

Gaui/config.json 
