.u-section-1 {
  min-height: 1182px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -3px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1151px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px 30px 13px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0;
  padding: 10px 13px 11px 12px;
}

.u-section-1 .u-text-1 {
  width: 118px;
  margin: 40px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 653px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 31px 127px 0 23px;
}

.u-section-1 .u-form-1 {
  height: 238px;
  width: 343px;
  margin: 12px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 653px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 31px 262px 0 12px;
}

.u-section-1 .u-form-2 {
  height: 470px;
  margin: 6px 14px 0 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 3px 31px 0 auto;
  padding: 10px 16px 10px 14px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 541px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-4 {
  margin: 46px 121px 0 80px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 371px 34px 0 auto;
  padding: 10px 16px 10px 14px;
}

.u-section-1 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 931px);
  height: 3px;
  transform-origin: left center;
  margin: -544px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 972px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-bottom: 3px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 949px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 175px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 538px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 120px;
    margin-right: 182px;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    width: 175px;
    margin-top: -83px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 92px;
    margin-right: 18px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 446px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 94px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 1011px;
    margin-right: calc(((100% - 1140px) / 2) + 20px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 288px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 155px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 161px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 279px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 172px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}